# These are created for testing, not gonna be used in production.
# Exposing these creds, for making it easier for new contributors.
# change filename to .env

VITE_CLIENT_ID=23313453770-jj6hi4qt29o85ir2kb4965glbdo5s7lu.apps.googleusercontent.com
VITE_BACKEND_URI=http://localhost:3000