@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Indie+Flower&display=swap');

body{
    background: url('/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    max-width: 1000px;
    margin-inline: auto;
    /* margin-block: 20px; */
}

input[type="file"] {
    display: none;
  }
  
.custom-file-upload {
    /* border: 1px solid #ccc; */
    /* display: inline-block; */
    /* padding: 6px 12px; */
    height: 100%;
    cursor:copy;
}

h1{
    opacity: 0.4;
    font-size: 24px;
    /* text-decoration: underline; */
}

.color-box{
    cursor: pointer;
}

input[type="text"]{
    font-family: "Baskervville", serif;    background: transparent;
    border: 1px dashed rgba(0, 0, 0, 0.35);
    font-weight: bold;
    padding: 10px;
    outline: none;
    /* border: none; */
    font-size: 22px;
}

textarea{
    /* font-family: "Indie Flower", cursive; */
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.68);
    width: 100%;
    resize: none;
    background: transparent;
    outline: none;
    border: 1px dashed rgba(0, 0, 0, 0.35);
    padding: 10px;
    height: 30rem;
}
.img-bg{
    /* background: red !important; */
    background-size: cover;
    background-position: center;
    position: relative;
    /* z-index: -3; */
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        z-index: 0;
        height: 100%;
        backdrop-filter: blur(8px);
        /* background: red; */
    }
    label{
        z-index: 1;
    }
}
