.container{
    display: flex;
    max-width: 1000px;
    margin-inline: auto;
    /* margin-block: 20px; */
}

#heatmap-container{
    display: block;
    overflow: scroll;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    /* border: 1px solid rgb(204, 206, 211); */
    height: 8rem;
    /* border-radius: 10px; */
    max-width: 1002px;
}

#heatmap{
    width: 1000px;
    display: grid;
    height: 100%;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(55, 1fr);
    grid-gap: 4px;
}

.box{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    background: rgb(206, 206, 206);
    font-size: 8px;
    border: 1px solid rgba(0, 0, 0, 0.096);
}